<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.human.shop.mapper.BoardFileMapper">
    <!-- 파일 저장 -->
    <insert id="insertFile">
        INSERT INTO board_file(
            board_id,
            original_name,
            saved_name,
            file_path,
            file_size
        )
        VALUES(
            #{boardId},
            #{originalName},
            #{savedName},
            #{filePath},
            #{fileSize}
        )
    </insert>   
    <select id="findByBoardId"
            resultType="com.human.shop.vo.BoardFileVO">
        SELECT *
        FROM board_file
        WHERE board_id=#{boardId}
        ORDER by id desc
    </select>
</mapper>